<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @game.rating %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @game.release_date %>
</p>

<p>
  <strong>Review:</strong>
  <%= @game.review %>
</p>

<p>
  <strong>Article:</strong>
  <%= @game.article %>
</p>

<p>
  <strong>Author:</strong>
  <%= @game.author %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @game.developer %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
