<!DOCTYPE html>
<html>
<head>
  <title>PlutonianShore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="animated fadeIn">
  <div id="main">
      <nav>
        <img src="<%= asset_path('poe.jpg') %>" id="poe-image"/>
        <ul>
          <li><a href=<%= root_path %> class=<%= "current" if current_page?(root_path) %>>HOME</a></li>
          <li><a href=<%= articles_path %> class=<%= "current" if current_page?(articles_path) %>>ARTICLES</a></li>
          <li><a href=<%= books_path %> class=<%= "current" if current_page?(books_path) %>>BOOKS</a></li>
          <li><a href=<%= movies_path %> class=<%= "current" if current_page?(movies_path) %>>MOVIES</a></li>
          <li><a href=<%= games_path %> class=<%= "current" if current_page?(games_path) %>>VIDEO GAMES</a></li>
        </ul>
      </nav>
      <a id="i-nav" class="not-clicked" href="#"></a>
      <h1 class="title"><a href="#" id="hidden-favicon"></a>Plutonian Shore</h1>
  </div>
<%= yield %>

</body>
</html>
